
<header ng-include="'ngviews/header.html'"></header>
<input ng-model="q" id="search" class="form-control" placeholder="Filter text">
<input type="number" ng-model="pageSize" min="1" max="100" class="form-control"  >
<hr/>
 

<table border="2" ng-show="products.length>0" class="table table-bordered table-striped">
         <tr>
           <th> number</th>
           <th>description</th>
           <th>brand name</th>
           <th>quantity </th>
           <th>price</th>
           <th>condition</th>
           <th>location</th>
           <th>Total</th>
           <th>edit/delete</th>
          
         </tr>
      <tr dir-paginate="product in products | filter: q | itemsPerPage: pageSize" current-page="currentPage">
          
           <td> {{product.number}} </td>
           <td> {{(currentPage-1)*pageSize+$index}}...{{product.description}} </td>
           <td> {{product.brand_name}} </td>
           <td> {{product.qty}}  </td>
           <td> {{product.price}} </td>
           <td> {{product.condition}} </td>
           <td> {{product.location}} </td>
           <td><b>{{product.price*product.qty }} </b></span></td>
           <td style='white-space: nowrap' > 
              <a  href="" data-toggle="modal" data-target="#editProduct"  ng-click="editProduct(product.number)"> <img src="images/icons/editIcon.png"/> </a>
            
              <!--  <a href="" ng-click="removecurrentProduct((currentPage-1)*pageSize+$index,'p')"> <img src="images/icons/deleteIcon.png"/> </a> -->
              <a href="" ng-click="removecurrentProduct(product.number,'p')"> <img src="images/icons/deleteIcon.png"/> </a> 
              </td>
        </tr>
      </table>
   
   <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="ngviews/dirPagination.tpl.html"></dir-pagination-controls>


<!--  modal from tutorilspoint -->

<modal  id="editProduct" title="Edit product" visible="showModal">
  
    <form role="form">
      <div class="form-group">
        <label for="text">Number</label>
        <input type="text" class="form-control" id="number" placeholder="Number" ng-model="products[editProductIndex].number"/>
      </div>
      
      <div class="form-group">
        <label for="text">Description</label>
        <input type="textarea" rows="4" class="form-control" id="number" placeholder="Description" ng-model="products[editProductIndex].description"/>
      </div>

      <div class="form-group">
        <label for="brand Name">Brand name</label>
        <input type="text" class="form-control" id="brandName" placeholder="BrandName" ng-model="products[editProductIndex].brand_name"/>
      </div>

      <div class="form-group">
        <label for="quantity">quantity</label>
        <input type="Number" class="form-control" id="quantity" placeholder="0" ng-model="products[editProductIndex].qty" />
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <input type="Number" class="form-control" id="price" string-to-number ng-model="products[editProductIndex].price" />
      </div>

       <div class="form-group">
        <label for="condition">Condition</label>
        <input type="text" class="form-control" id="condition" placeholder="condition" ng-model="products[editProductIndex].condition" />
      </div>
   
      <div class="form-group">
        <label for="location">Locacion</label>
        <input type="text" class="form-control" id="location" placeholder="location" ng-model="products[editProductIndex].location" />
      </div>
      
      <div class="form-group">
        <label for="Total Price">Total Price:</label>
        <label for="Total Price">{{products[editProductIndex].qty*products[editProductIndex].price}}</label>
      </div>

      <button type="submit" ng-click="updateProduct()" data-dismiss="modal" class="btn btn-default">Submit</button>
    </form>
  </modal> 

 <!-- end modal from tutorilspoint -->
      
 


