
<header ng-include="'ngviews/header.html'"></header>
<input ng-model="q" id="search" class="form-control" placeholder="Filter text">
<input type="number" ng-model="pageSize" min="1" max="100" class="form-control"  >
<hr/>
 

<table border="2" ng-show="products.length>0" class="table table-bordered table-striped">
         <tr>
           <th> number</th>
           <th>description</th>
           <th>brand name</th>
           <th>quantity </th>
           <th>price</th>
           <th>condition</th>
           <th>location</th>
           <th>Total</th>
           <th>edit</th>
           <th>delete</th>
          
         </tr>
      <tr dir-paginate="product in products | filter: q | itemsPerPage: pageSize" current-page="currentPage">
          
           <td class="vert-aligned"> {{product.number}}</td>
           <td class="description vert-aligned"> {{product.description.substring(0, 150)+"..."}} </td>
           <td class="vert-aligned"> {{product.brand_name}} </td>
           <td class="vert-aligned"> {{product.qty}}  </td>
           <td class="vert-aligned"> {{product.price}} </td>
           <td class="vert-aligned"> {{product.condition}} </td>
           <td class="vert-aligned"> {{product.location}} </td>
           <td class="vert-aligned"><b>{{product.price*product.qty | number:2 }} </b></span></td>
           <td class="vert-aligned" > 
              <button type="button"  class="btn block" data-toggle="modal" data-target="#editProduct"  ng-click="editProduct(product.number)">Edit</button>
           </td>
           <td class="vert-aligned">

              <button type="button" class="btn block redbtn"  id="deleteProduct" title="Delete product" data-target="#deleteProduct" ng-click="showDeleteProductModal(product.id)">Delete</button> 
                
              </td>
        </tr>
      </table>
   
   <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="ngviews/dirPagination.tpl.html"></dir-pagination-controls>


<!--  edit modal from tutorialspoint  -->

<modal  id="editProduct" title="Edit product" visible="showModal">
  
    <form role="form">
      <div class="form-group">
        <label for="text">Number</label>
        <input type="text" class="form-control" id="number" placeholder="Number" ng-model="products[editProductIndex].number"/>
      </div>
      
      <div class="form-group">
        <label for="text">Description</label>
        <textarea rows="5" class="form-control" id="number" placeholder="Description" ng-model="products[editProductIndex].description"></textarea>
      </div>

      <div class="form-group">
        <label for="brand Name">Brand name</label>
        <input type="text" class="form-control" id="brandName" placeholder="BrandName" ng-model="products[editProductIndex].brand_name"/>
      </div>

      <div class="form-group">
        <label for="quantity">quantity</label>
        <input type="Number" class="form-control" id="quantity" placeholder="0" ng-model="products[editProductIndex].qty" />
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <input type="Number" class="form-control" id="price" string-to-number ng-model="products[editProductIndex].price" />
      </div>

       <div class="form-group">
        <label for="condition">Condition</label>
        <input type="text" class="form-control" id="condition" placeholder="condition" ng-model="products[editProductIndex].condition" />
      </div>
   
      <div class="form-group">
        <label for="location">Locacion</label>
        <input type="text" class="form-control" id="location" placeholder="location" ng-model="products[editProductIndex].location" />
      </div>
      
      <div class="form-group">
        <label for="Total Price">Total Price:</label>
        <label for="Total Price">{{products[editProductIndex].qty*products[editProductIndex].price}}</label>
      </div>

      <button type="submit" ng-click="updateProduct()" data-dismiss="modal" class="btn btn-default">Submit</button>
    </form>
  </modal> 

  <!-- end modal from tutorilspoint -->

<!-- delete product modal  -->
   <modal  id="deleteProduct" title="Delete product" visible="showDeleteModal">
   <form role="form">
        <div class="form-group">
          <label  for="Delete product"><b>Are you sure you want to delete the product</b></label>
        </div>
     <button type="submit"  ng-click="deleteProduct()" data-dismiss="deleteModal" class="btn btn-danger">Delete</button>
     <button type="reset"   ng-click="toggleDeleteModal()" data-dismiss="deleteModal" class="btn btn-default">Cancel</button>
   </form>
</modal>      
 


