<div class="popeye-modal-container">
  <div class="popeye-modal">
    <a class="popeye-close-modal" href ng-click="$close()"></a>
    

  <p><label> Number: </label>
<input type="text" name="name" id="name"/>
</p>
<p>
	<label>Description: </label>
	<input type="textarea" name="Description" id="productDescription"/>
</p>	

<p>
	<label>Name: </label>
	<input type="textarea" name="Name" id="productName"/>
</p>

<p>
	<label>quantity: </label>
	<input type="number" name="Number" id="productNumber"/>
</p>

<p>
	<label>Price: </label>
	<input type="number" name="Price" id="productPrice"/>
</p>

<p>
	<label>condition: </label>
	<input type="text" name="Condition" id="productCondition"/>
</p>
<p>
	<label>Location: </label>
	<input type="text" name="Location" id="productLocation"/>
</p>
<input type="submit" value="Sumbit"/>

</div>
</div>